/* -fx- style sheet for MainView interface */

.menu-bar {
	-fx-background-color: white;
}

.text-area > .scroll-pane {
	-fx-vbar-policy: always;
}

#tempScroolBar > .scroll-pane {
	-fx-vbar-policy: never;
	-fx-hbar-policy: never;
}